{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Авторизация</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>


    <!-- Custom styles for this template -->
    <link href="{% static 'css/signin.css' %}" rel="stylesheet">
  </head>
  <body class="text-center">

<main class="form-signin">
  {% if messages %}
    <div class="messages">
    {% for message in messages %}
      <div class="alert alert-small alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% endif %}">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Закрыть"></button>
      </div>
    {% endfor %}
    </div>
  {% endif %}
  <form method="post">
    {% csrf_token %}
    <img src="{% static 'img/logo_footer.png' %}" alt="" srcset="" width="72" height="72" class="mb-3">
    <h1 class="h3 mb-3 fw-normal">Пожалуйста, авторизуйтесь</h1>
    <div class="form-floating mb-1">
      {{ form.username }}
      <label for="{{ form.username.id_for_label }}">Имя пользователя</label>
      {% if form.username.errors %}
        {% for error in form.username.errors %}
        <div class="alert alert-danger">
            {{error}}
        </div>
        {% endfor %}
      {% endif %}
    </div>
    <div class="form-floating">
      {{ form.password }}
      <label for="{{ form.password.id_for_label }}">Пароль</label>
      {% if form.password.errors %}
        {% for error in form.password.errors %}
        <div class="alert alert-danger">
            {{error}}
        </div>
        {% endfor %}
      {% endif %}
    </div>
    <div class="checkbox mb-3">
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Войти</button>
    <p class="mt-5 mb-3 text-muted">&copy; Кванториум Саров. 2022–2023</p>
  </form>
</main>
  </body>
</html>
