{% extends "base.html" %}
{% block title %}Все Документы{% endblock %}
{% block content %}
      {% if user.is_authenticated %}


                    <!--          <form action="{% url 'doc_list' %}" method="post" enctype="multipart/form-data" class="d-flex btn-group" style="margin-bottom: 15px; height: 38px;">-->
<!--            {% csrf_token %}-->
<!--            <p>{{ form.non_field_errors }}</p>-->

<!--            <p>{{ form.file.label_tag }} {{ form.file.help_text }}</p>-->

<!--            {{ form.file.errors }}-->
<!--            {{ form.file }}-->

<!--            <button type="submit" class="btn btn-primary">Загрузить</button>-->
<!--          </form>-->

          <a href="{% url 'new_doc' %}" type="button" class="btn btn-primary">Загрузить документ</a>

          <h1 class="text-dark">Все документы:</h1>



          <nav class="list-document">

            {% if posts %}
              {% for post in posts %}
                <div class="document alert alert-primary d-flex justify-content-between align-items-center flex-wrap">
                  <b>{{ post.name }}</b>


                  <div class="btn-group btn-group-sm" role="group" aria-label="Group edit document">
                    {% if post.author != user %}
                      <a href="{% url 'profile' post.author.username %}" class="btn btn-secondary">
                        {{ post.author.get_full_name }}
                    {% endif %}
                      </a>
                    {% if post.author == user %}
                      <a href="{% url 'document_delete' document_id=post.id %}" class="btn btn-danger">
                        Удалить
                      </a>
                      <a href="{% url 'check_sig' document_id=post.id %}" class="btn btn-primary">
                        Проверить подписи
                      </a>
                    {% endif %}
                    <a href="{{ post.file.url }}" class="btn btn-success">
                      Скачать
                    </a>
                    {% if user in post.signature.all %}
                      <button class="btn btn-warning">Подписано</button>
                    {% else %}
                      <a href="{% url 'signature' document_id=post.id %}" class="btn btn-success">
                        Подписать
                      </a>
                    {% endif %}
                  </div>
                  <!-- /.btn-group -->
                </div>
                <!-- /.documents -->
              {% endfor %}
            {% endif %}
           {% if paginator.num_pages > 1 %}
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {% if posts.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ posts.previous_page_number }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Назад</span>
                            </a>
                        </li>
                    {% endif %}
                        <li class="page-item active"><a class="page-link" href="#!">{{ posts.number }}</a></li>
                    {% if posts.has_next %}
                    <li class="page-item">
                      <a class="page-link" href="?page={{ posts.next_page_number }}" aria-label="Next">
                        <span class="sr-only">Вперёд</span>
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
            {% endif %}
        {% else %}
            <meta http-equiv="refresh" content="0; {% url 'user_login' %}">
      {% endif %}
{% endblock %}