{% extends "base.html" %}
{% block title %}Поиск{% endblock %}
{% block content %}

<h1>Результаты поиска:</h1>
<div class="list-document">
  {% for post in posts %}
    <div class="document alert alert-primary d-flex justify-content-between align-items-center flex-wrap">
        <b>{{ post.name }}</b>


        <div class="btn-group btn-group-sm" role="group" aria-label="Group edit document">
            {% if post.author != user %}
                <a href="{% url 'profile' post.author.username %}" class="btn btn-secondary">
                    {{ post.author.get_full_name }}
                </a>
            {% endif %}
            {% if post.author == user %}
                <a href="{% url 'document_delete' document_id=post.id %}" class="btn btn-danger">
                    Удалить
                </a>
            {% endif %}
            <a href="{{ post.file.url }}" class="btn btn-success">
                Скачать
            </a>

        </div>
    </div>
  {% endfor %}
</div>
    {% if paginator.num_pages > 1 %}
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if posts.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ posts.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Назад</span>
                    </a>
                </li>
                {% endif %}
                <li class="page-item active"><a class="page-link" href="#!">{{ posts.number }}</a></li>
                {% if posts.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ posts.next_page_number }}" aria-label="Next">
                        <span class="sr-only">Вперёд</span>
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}


{% endblock %}